<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
  <classPathEntry location="C:\Users\DANIEL 1\git\colsevi\WebContent\WEB-INF\lib\mysql-connector-java-5.1.18-bin.jar" />

  <context id="MyIbatis" targetRuntime="MyBatis3">
    <jdbcConnection driverClass="com.mysql.jdbc.Driver"
        connectionURL="jdbc:mysql://localhost:3306/COLSEVI"
        userId="root"
        password="root">
    </jdbcConnection>

    <javaModelGenerator targetPackage="com.colsevi.dao.catalogo.model" targetProject="colsevi/src" />
    <sqlMapGenerator targetPackage="com.colsevi.dao.catalogo.map" targetProject="colsevi/src" />
    <javaClientGenerator targetPackage="com.colsevi.dao.catalogo.map" targetProject="colsevi/src" type="XMLMAPPER" />
    <table schema="colsevi" tableName="catalogo"><property name="useActualColumnNames" value="true"/></table>
  </context>
</generatorConfiguration>