<?xml version="1.0" encoding="UTF-8"?>

<beans xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://www.springframework.org/schema/beans">
		
	<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="dataSource">
		<property value="com.mysql.jdbc.Driver" name="driverClassName" />
		<property value="jdbc:mysql://127.0.0.1:3306/COLSEVI" name="url" />
		<property value="root" name="username" />
		<property value="root" name="password" />
	</bean>

	<bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactory">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="txManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="establecimientoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.usuario.map.EstablecimientoMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="tipoDocumentoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.usuario.map.TipoDocumentoMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="personaMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.usuario.map.PersonaMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="paginaMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.usuario.map.PaginaMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="rolMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.usuario.map.RolMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="usuarioMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.usuario.map.UsuarioMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="usuarioXRolMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.usuario.map.UsuarioXRolMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="tipoTelefonoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.general.map.TipoTelefonoMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="paginaXRolMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.usuario.map.PaginaXRolMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="telefonoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.general.map.TelefonoMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="direccionMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.general.map.DireccionMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="correoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.general.map.CorreoMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="tipoProveedorMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.proveedor.map.TipoProveedorMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="proveedorMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.proveedor.map.ProveedorMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="compraMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.proveedor.map.CompraMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="tipoPesoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.ingrediente.map.TipoPesoMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="ingredienteMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.ingrediente.map.IngredienteMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="compraXIngredienteMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.ingrediente.map.CompraXIngredienteMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="tipoProductoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.producto.map.TipoProductoMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="productoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.producto.map.ProductoMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="ingredienteXProductoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.producto.map.IngredienteXProductoMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="recetaMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.producto.map.RecetaMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="catalogoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.catalogo.map.CatalogoMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="catalogoXProductoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.catalogo.map.CatalogoXProductoMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="estadoPedidoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.pedido.map.EstadoPedidoMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="pedidoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.pedido.map.PedidoMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="detallePedidoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.pedido.map.DetallePedidoMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="inventarioMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.inventario.map.InventarioMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="categoriaModuloMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.inventario.map.CategoriaModuloMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="pagoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.pago.map.PagoMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="detallePagoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.pago.map.DetallePagoMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="deudaMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.pago.map.DeudaMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="cobroCategoriaMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.pago.map.CobroCategoriaMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="cobroMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.pago.map.CobroMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="motivoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.inventario.map.MotivoMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="movimientoInventarioMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.inventario.map.MovimientoInventarioMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
</beans>