<?xml version="1.0" encoding="UTF-8"?>

<beans xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://www.springframework.org/schema/beans">
		
	<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="dataSource">
		<property value="com.mysql.jdbc.Driver" name="driverClassName" />
		<property value="jdbc:mysql://127.0.0.1:3306/COLSEVI" name="url" />
		<property value="root" name="username" />
		<property value="root" name="password" />
	</bean>

	<bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactory">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="txManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="tipoDocumentoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.usuario.map.TipoDocumentoMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="personaMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.usuario.map.PersonaMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="paginaMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.usuario.map.PaginaMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="rolMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.usuario.map.RolMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="usuarioMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.usuario.map.UsuarioMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="usuarioXRolMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.usuario.map.UsuarioXRolMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="establecimientoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.usuario.map.EstablecimientoMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="paginaXRolMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property value="com.colsevi.dao.usuario.map.PaginaXRolMapper" name="mapperInterface" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	
</beans>